@import "normalize.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1  auto;
}

.header-wrapper {
    background: #054f71;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}



.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 20px 0;
}

.social-networks__item {
    padding: 5px 10px;
    margin: 0 0 0 5px;
    color: white;
    background: #0570a0;
    text-decoration: none;
    font-size: 1.2rem;
}

.social-networks__item:hover {
    background: #054f71;
    transition: background 0.3s;
}

main {
    background: white;
    flex: auto;
}

.about-wrapper {
    background: #feffe7;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;;
}

.about {
    width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.about__name {
    align-self: flex-end;
    margin: 20px 0;
    color: #054f71;
    font-size: 45px;
    font-weight: bold;

}

.about__name p {
    border-bottom: 4px double #054f71;
}

.about__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 40px;
}

.about__photo {
    width: auto;
    height: 450px;
    margin-right: 40px;
}

.about__text {
    align-self: center;

    margin: 0 40px;
    font-size: 20px;
}

.about__text {
}

.expectation-wrapper {
    background: #f9fad1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.expectation {
    width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.expectation__header {
    margin: 40px 0 20px 0;
    color: #054f71;
    font-size: 35px;
    font-weight: bold;
}

.expectation__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.expectation__item {
    margin: 15px;

    background: #0570a0;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.expectation__item p {
    padding: 15px;
}




.works-wrapper {
    background: #ebecc5;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.works {
    width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.works-header {
    margin: 20px 0 40px 0;
    font-size: 35px;
    font-weight: bold;
    color: #054f71;
}

.works__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.works__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.works-item__text {
    margin: 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works-item__header {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.works-item__images {
}

.works-item__image {
    width: auto;
    height: 350px;
}



.contact-wrapper {
    background: #dbdcb9;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact {
    width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.contact__header {
    margin: 40px 0 40px 0;
    font-size: 35px;
    font-weight: bold;
    color: #054f71;
}

.contact__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-content__text {
    max-width: 300px;
    margin-right: 40px;
}

.contact-content__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.form__item {
    margin-bottom: 20px;

    width: 335px;
}

.form__text-area {
    resize: none;
}

.form__button {
    width: 120px;
    border: none;
    height: 24px;
    border-radius: 5px;
    color: white;
    background: #0570a0;
}

.form__button:hover {
    cursor: pointer;
    background: #054f71;

    transition: all 0.3s;
}


.footer-wrapper {
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: #054f71;
    width: 100%;


}

footer {
    width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

    color: white;
}
