@media (max-width: 640px) {

    :root {
        --main-content-width: 304px;
    }


    .about {

        padding: 42px 0;

        &__photo {
            min-width: 144px;
            min-height: 144px;
            max-width: 144px;
            max-height: 144px;

            background: url('../images/Marinka.jpg') no-repeat 50% 50%;
        }

        &__name {
            font-size: 32px;
            line-height: 40px;
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
        }
    }


    .expectation {
        padding: 40px 0;

        &__header {
            margin-bottom: 10px;
            font-size: 32px;
            line-height: 40px;
            width: 100%;
            text-align: left;
        }
    }







}

