@media (max-width: 1000px) {

    :root {
        --main-content-width: 760px;
    }

    .about__name, .expectation__header, .works-header,
    .contact__header {
        font-size: 30px;
    }

    .about__text, .expectation__item, .works-item__header, .contact-content__text{
        font-size: 18px;
    }

    .about__info {
        justify-content: flex-start;
        align-content: flex-start;
    }

    .expectation__item {
        margin: 10px;
        padding: 10px;
    }

    .works__item {
        align-items: flex-start;
    }


    .works-item__image {
        width: auto;
        height: 250px;
    }



















}

